version: '3.8'
services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: kubou
      POSTGRES_PASSWORD: password
      POSTGRES_DB: kubou
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: